.startButton {
    -fx-image: url("guiFiles/buttons/start_game.png");
}

.startButton:hover {
    -fx-image: url("guiFiles/buttons/start_game_hover.png");
}

.exitButton {
    -fx-image: url("guiFiles/buttons/exit_game.png");
}

.exitButton:hover {
    -fx-image: url("guiFiles/buttons/exit_game_hover.png");
}

.backButton {
    -fx-image: url("guiFiles/buttons/back_button.png");
}

.backButton:hover {
    -fx-image: url("guiFiles/buttons/back_button_hover.png");
}

.pawnPromotionBox {
    -fx-background-color: #D7D7D7;
}

.label {
    -fx-font-size: 22px;
}

.endgame {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}

.outline.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.blackDeadPiecesPane, .whiteDeadPiecesPane {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}