.startButton, .exitButton {
    -fx-font-size: 32px;
}

.label {
    -fx-font-size: 22px;
}

.outline.label .text {
    -fx-fill: white;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.blackDeadPiecesPane, .whiteDeadPiecesPane {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}