@font-face {
    font-family: "Minecraft";
    src: url("mcfont.ttf");
}

* {
    -fx-font-family: "Minecraft";
}

/*
.startButton {
    -fx-image: url("guiFiles/buttons/start_game.png");
}

.startButton:hover {
    -fx-image: url("guiFiles/buttons/start_game_hover.png");
}

.exitButton {
    -fx-image: url("guiFiles/buttons/exit_game.png");
}

.exitButton:hover {
    -fx-image: url("guiFiles/buttons/exit_game_hover.png");
}

.backButton {
    -fx-image: url("guiFiles/buttons/back_button.png");
}

.backButton:hover {
    -fx-image: url("guiFiles/buttons/back_button_hover.png");
}*/

.pawnPromotionBox {
    -fx-background-color: #D7D7D7;
}

.label {
    -fx-font-size: 22px;
}

.lightBoxHeaderText {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}

.lightBoxPane {
    -fx-background-color: white;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10px, 0.8, 2px, 2px);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.blackDeadPiecesPane, .whiteDeadPiecesPane {
    -fx-background-color: rgba(255,255,255,0.5);
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.playerNameLabel {
    -fx-font-size: 16px;
    -fx-stroke: white;
    -fx-stroke-width: 2px;
}

.minecraftStyleButton {
    -fx-background-image: url("./guiFiles/buttons/buttonBackground.png");
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-border-width: 2px 2px 4px 2px;
    -fx-border-color: #AAAAAA #565656 #565656 #AAAAAA;
    -fx-background-insets: 0;
}

.minecraftStyleButton:hover {
    -fx-background-image: url("./guiFiles/buttons/buttonHoverBackground.png");
    -fx-text-fill: #FFFFA0;
    -fx-font-size: 16px;
    -fx-border-width: 2px 2px 4px 2px;
    -fx-border-color: #AAAAAA #565656 #565656 #AAAAAA;
    -fx-background-insets: 0;
}